# **Solutions**
- Run this cell before starting the notebook. You do not need to look at or understand the code. By running this, you will allow yourself to see solutions throughout the notebook as I ask you to solve problems.

In [1]:
%load_ext autoreload
%autoreload 2

!pip install --upgrade git+https://github.com/MTSUDataScience/DATA3500.git

from course_solutions.Data3500_ICPS import *

Collecting git+https://github.com/MTSUDataScience/DATA3500.git
  Cloning https://github.com/MTSUDataScience/DATA3500.git to /private/var/folders/mk/xybl65rx0vxcq605sd2tlrc00000gn/T/pip-req-build-2de4jggj
  Running command git clone -q https://github.com/MTSUDataScience/DATA3500.git /private/var/folders/mk/xybl65rx0vxcq605sd2tlrc00000gn/T/pip-req-build-2de4jggj
Building wheels for collected packages: data3500
  Building wheel for data3500 (setup.py) ... done
  Created wheel for data3500: filename=data3500-0.0.3-cp37-none-any.whl size=9690 sha256=fd4c2b57f4efb1c9b5fdc47ca552a298b0f70951e54aaa2cbc796db7690a6b37
  Stored in directory: /private/var/folders/mk/xybl65rx0vxcq605sd2tlrc00000gn/T/pip-ephem-wheel-cache-37_doam2/wheels/62/0d/05/e642f69b7486475b9e4ad34ee81af874d7595fd8b2f0e2ee8c
Successfully built data3500
Installing collected packages: data3500
  Found existing installation: data3500 0.0.3
    Uninstalling data3500-0.0.3:
      Successfully uninstalled data3500-0.0.3
Successfully installed data3500-0.0.3

### **Try the following problem #1**

- Import the csv file called **ex1** using pandas. Call this file **df**.
- Import the csv file called **ex2** using pandas and allow pandas to assign headers automatically. Call this file **df_noheader**.
- Import the csv file called **ex2** using pandas and assign header names yourself. Use the names **a, b, c, d, and message**. Call this file **df_header**.
- Repeat the above steps and assign **message** to be the index using the **index_col** argument. Call this file **df_index**.

If you want to see the solution to this problem, run the code **solution3_1()** in an empty cell.

In [2]:
# Try your answer to problem #1 here.
# Remember that you can get an answer by running solution3_1()
# You can run the solution code by removing the '#' below and
# then running this cell.

solution3_1()

We import ex1 with: df = pd.read_csv('data/ex1.csv')
We import ex2 with no headers with: df_noheader = pd.read_csv('data/ex2.csv', header=None)
We import ex2 with our headers with: df_header = pd.read_csv('data/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])
We import ex2 and assign message to the index by adding ,index_col = 'message' to the end.

df looks like:
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
df_noheader looks like:
   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo
df_header looks like:
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
df_index looks like:
         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

### **Try the following problem #2**

- Try to import the following .txt file that has no delimiter. Observe the data with the following code to determine if there is a way to identitfy the individual observations. **list(open('data/ex3.txt'))**
- The fields are separated bya variable amount of white space. We can use this as our delimiter. Use **\s+** as our method of identifying seperate observations. Open our text file with pandas read_Csv and add **sep='\s+'** as an additional option.

If you want to see the solution to this problem, run the code **solution3_2()** in an empty cell.

In [3]:
# Try your answer to problem #2 here.
# Remember that you can get an answer by running solution3_2()
# You can run the solution code by removing the '#' below and
# then running this cell.
    
solution3_2()

We observe the data with: list(open('data/ex3.txt'))
We use pandas to open the data with: result = pd.read_csv('data/ex3.txt', sep='\s+')

The raw data looks like:
['            A         B         C\n', 'aaa -0.264438 -1.026059 -0.619500\n', 'bbb  0.927272  0.302904 -0.032399\n', 'ccc -0.264273 -0.386314 -0.217601\n', 'ddd -0.871858 -0.348382  1.100491\n']
The clean data looks like:
            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

### **Try the following problem #3**

- Use the dataframe **df** created below. 
- Fill all missing values with a value of 0.
- Fill all missing values with a forward fill.
- Use the **limit** option to limit the number of missing values that forward fill will fill to 2.
- Fill all missing values with a backward fill.
- Fill missing values with the mean value. You can use either method we discussed in class.

If you want to see the solution to this problem, run the code solution3_3() in an empty cell.

In [4]:
# Try your answer to problem #3 here.
# Remember that you can get an answer by running solution3_3()
# You can run the solution code by removing the '#' below and
# then running this cell.

df = pd.DataFrame(np.random.randn(7,3))
df.iloc[1:4, 1] = np.nan
df.iloc[1:2, 2] = np.nan
    
solution3_3()

We fill values with a 0 with: df.fillna(0)
We fill values with a forward fill with: df.fillna(method='ffill')
We fill values with a limited forward fill with: df.fillna(method='ffill', limit=2)
We fill values with a back fill with: df.fillna(method='bfill')
We fill values with the mean with: df.fillna(df.mean())

The original data frame looks like:
          0         1         2
0 -2.401224  0.845181  1.509262
1  2.472575       NaN       NaN
2 -1.110368       NaN  0.255749
3 -1.398868       NaN  0.825088
4 -1.656586 -0.235570 -0.299403
5  1.105117  0.585462  1.548140
6  0.640985 -0.022677  0.224240
The 0 fill looks like:
          0         1         2
0 -2.401224  0.845181  1.509262
1  2.472575  0.000000  0.000000
2 -1.110368  0.000000  0.255749
3 -1.398868  0.000000  0.825088
4 -1.656586 -0.235570 -0.299403
5  1.105117  0.585462  1.548140
6  0.640985 -0.022677  0.224240
The forward fill looks like:
          0         1         2
0 -2.401224  0.845181  1.509262
1  2.472575  0.845181  1.509262
2 -1.110368  0.845181  0.255749
3 -1.398868  0.845181  0.825088
4 -1.656586 -0.235570 -0.299403
5  1.105117  0.585462  1.548140
6  0.640985 -0.022677  0.224240
The limited forward fill looks like:
          0         1         2
0 -2.401224  0.845181  1.509262
1  2.472575  0.845181  1.509262
2 -1.110368  0.845181  0.255749
3 -1.398868       NaN  0.825088
4 -1.656586 -0.235570 -0.299403
5  1.105117  0.585462  1.548140
6  0.640985 -0.022677  0.224240
The back fill looks like:
          0         1         2
0 -2.401224  0.845181  1.509262
1  2.472575 -0.235570  0.255749
2 -1.110368 -0.235570  0.255749
3 -1.398868 -0.235570  0.825088
4 -1.656586 -0.235570 -0.299403
5  1.105117  0.585462  1.548140
6  0.640985 -0.022677  0.224240

### **Try the following problem #4**

- We will now focus on missing data. Open the csv file **ex5** and observe the missing observations. How does pandas identify them?
- Suppose we also want observations within the **message** column that are equal to **foo** to display a missing value. Create a dictionary that specifies which values in **message** you want to be identified as missing. Call this dictionary **add_missing**. Use this dictionary as an additional argument within **read_csv** as **na_values = add_missing**.

If you want to see the solution to this problem, run the code solution3_4() in an empty cell.

In [5]:
# Try your answer to problem #4 here.
# Remember that you can get an answer by running solution3_4()
# You can run the solution code by removing the '#' below and
# then running this cell.
        
solution3_4()

We examine ex5 with: pd.read_csv('data/ex5.csv')
We create our additional missing values with: add_missing = {'message': ['foo']}
We import the data with: pd.read_csv('data/ex5.csv', na_values = add_missing)

The original results look like:
  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo
The new results look like:
  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### **Try the following problem #5**

- Use the provided dataframe to calculate the mean population value by state.
- Calculate the state/year average population.
- Calculate the standard deviation of state populations using the **std** aggregation method instead of **mean**.
- Backfill missing tip data from the data frame **small_tip** provided below. Be sure to fill by smoker status only. This does should fill in the values on the original dataframe.

If you want to see the solution to this problem, run the code solution3_5() in an empty cell.

In [6]:
# Try your answer to problem #5 here.
# Remember that you can get an answer by running solution3_5()
# You can run the solution code by removing the '#' below and
# then running this cell.

states = pd.DataFrame({'state': ['Ohio', 'California', 'California', 'Ohio', 'Ohio','California'],
                       'year' : ['2005', '2005', '2006', '2006', '2007','2006'],
                       'pop': [2.2, 7.2, 3.2, 7.7, 2.1, 7.7]})
tips = pd.read_csv('data/tips.txt')
small_tip = tips[: 25]
small_tip.iloc[16::, [2]] = 'Yes'
small_tip.iloc[2:4, [1]] = np.nan
small_tip.iloc[6:21, [1]] = np.nan
small_tip.iloc[23::, [1]] = np.nan
    
solution3_5()

We get the state average with: states['pop'].groupby(states['state']).mean()
We get the state/year average with: states['pop'].groupby([states['state'], states['year']]).mean()
We get the state standard deviation with: states['pop'].groupby(states['state']).std()
We backfill by smoker in the original data frame with: small_tip['tip'] = small_tip['tip'].groupby(small_tip['smoker']).fillna(method='bfill')

The state average is:
state
California    6.033333
Ohio          4.000000
Name: pop, dtype: float64
The state/year average is:
state       year
California  2005    7.20
            2006    5.45
Ohio        2005    2.20
            2006    7.70
            2007    2.10
Name: pop, dtype: float64
The state standard deviation is: state
California    2.466441
Ohio          3.204684
Name: pop, dtype: float64
The original data frame looks like:
    total_bill   tip smoker  day    time  size
0        16.99  1.01     No  Sun  Dinner     2
1        10.34  1.66     No  Sun  Dinner     3
2        21.01   NaN     No  Sun  Dinner     3
3        23.68   NaN     No  Sun  Dinner     2
4        24.59  3.61     No  Sun  Dinner     4
5        25.29  4.71     No  Sun  Dinner     4
6         8.77   NaN     No  Sun  Dinner     2
7        26.88   NaN     No  Sun  Dinner     4
8        15.04   NaN     No  Sun  Dinner     2
9        14.78   NaN     No  Sun  Dinner     2
10       10.27   NaN     No  Sun  Dinner     2
11       35.26   NaN     No  Sun  Dinner     4
12       15.42   NaN     No  Sun  Dinner     2
13       18.43   NaN     No  Sun  Dinner     4
14       14.83   NaN     No  Sun  Dinner     2
15       21.58   NaN     No  Sun  Dinner     2
16       10.33   NaN    Yes  Sun  Dinner     3
17       16.29   NaN    Yes  Sun  Dinner     3
18       16.97   NaN    Yes  Sun  Dinner     3
19       20.65   NaN    Yes  Sat  Dinner     3
20       17.92   NaN    Yes  Sat  Dinner     2
21       20.29  2.75    Yes  Sat  Dinner     2
22       15.77  2.23    Yes  Sat  Dinner     2
23       39.42   NaN    Yes  Sat  Dinner     4
24       19.82   NaN    Yes  Sat  Dinner     2
The backfilled by smoker data is:
    total_bill   tip smoker  day    time  size
0        16.99  1.01     No  Sun  Dinner     2
1        10.34  1.66     No  Sun  Dinner     3
2        21.01  3.61     No  Sun  Dinner     3
3        23.68  3.61     No  Sun  Dinner     2
4        24.59  3.61     No  Sun  Dinner     4
5        25.29  4.71     No  Sun  Dinner     4
6         8.77   NaN     No  Sun  Dinner     2
7        26.88   NaN     No  Sun  Dinner     4
8        15.04   NaN     No  Sun  Dinner     2
9        14.78   NaN     No  Sun  Dinner     2
10       10.27   NaN     No  Sun  Dinner     2
11       35.26   NaN     No  Sun  Dinner     4
12       15.42   NaN     No  Sun  Dinner     2
13       18.43   NaN     No  Sun  Dinner     4
14       14.83   NaN     No  Sun  Dinner     2
15       21.58   NaN     No  Sun  Dinner     2
16       10.33  2.75    Yes  Sun  Dinner     3
17       16.29  2.75    Yes  Sun  Dinner     3
18       16.97  2.75    Yes  Sun  Dinner     3
19       20.65  2.75    Yes  Sat  Dinner     3
20       17.92  2.75    Yes  Sat  Dinner     2
21       20.29  2.75    Yes  Sat  Dinner     2
22       15.77  2.23    Yes  Sat  Dinner     2
23       39.42   NaN    Yes  Sat  Dinner     4
24       19.82   NaN    Yes  Sat  Dinner     2

/Users/sarashirley/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/Users/sarashirley/opt/anaconda3/lib/python3.7/site-packages/course_solutions/Data3500_ICPS.py:805: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_tip['tip'] = small_tip['tip'].groupby(small_tip['smoker']).fillna(method='bfill')

### **Try the following problem #6**

- Using the provided dataframe, **melt** the dataframe on **key**. Call this new dataframe **df_melted**.
- Using **pivot**, convert the dataframe back to the original version. Call this **df_original**.
- **df_original** now has an index from the column used as row labels. Convert this into column titles with **reset_index()**.

If you want to see the solution to this problem, run the code solution3_6() in an empty cell.

In [7]:
# Try your answer to problem #6 here.
# Remember that you can get an answer by running solution3_6()
# You can run the solution code by removing the '#' below and
# then running this cell.

df = pd.DataFrame({'key': ['foo', 'bar', 'baz'],
                  'A': [1,2,3],
                  'B': [4,5,6],
                  'C': [7,8,9]})

solution3_6()

We can melt the dataframe with: df_melted = pd.melt(df, ['key'])
We can go back to the original with: df_original = df_melted.pivot(index='key', columns='variable', values='value')
We can reset the index with: df_original = df_original.reset_index()

The melted dataframe looks like:
   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6
6  foo        C      7
7  bar        C      8
8  baz        C      9
The final version of df_original looks like:
variable  key  A  B  C
0         bar  2  5  8
1         baz  3  6  9
2         foo  1  4  7

### **Try the following problem #7**

- With the provided dataframe, merge on lkey and rkey.
- Notice that values for c and d are missing. The default merge is an 'inner' join. Remerge the data with an 'outer' join and notice the difference.

If you want to see the solution to this problem, run the code solution3_6() in an empty cell.

In [8]:
# Try your answer to problem #7 here.
# Remember that you can get an answer by running solution3_7()
# You can run the solution code by removing the '#' below and
# then running this cell.

df1 = pd.DataFrame({'lkey': ['b','b','a','c','a','a','b'],
                   'data1': range(7)})
df2 = pd.DataFrame({'rkey': ['a','b','d'],
                   'data2': range(3)})
    
solution3_7()

We can merge these two with: pd.merge(df1, df2, left_on='lkey', right_on='rkey')
We can do an outer merge with: pd.merge(df1, df2, left_on='lkey', right_on='rkey', how='outer')

The merged dataframe looks like:
  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0
The outer merge looks like:
  lkey  data1 rkey  data2
0    b    0.0    b    1.0
1    b    1.0    b    1.0
2    b    6.0    b    1.0
3    a    2.0    a    0.0
4    a    4.0    a    0.0
5    a    5.0    a    0.0
6    c    3.0  NaN    NaN
7  NaN    NaN    d    2.0